.container-productview {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #85d0fc;
}

.container-rows {
  padding: 0 5% 0 5%;
}

.container-parts {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 390px;
  margin-bottom: 5%;
}

.image-productview {
  display: flex;
  align-items: center;
  padding: 20px 10px 10px 10px;
  height: 85%;
}

.image-productview img {
  max-width: 250px;
  max-height: 200px;
}
