.container-myproducts {
  padding-top: 2%;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #85d0fc;
}

.form-myproducts {
  margin-top: 0%;
  margin-bottom: 0%;
  width: 65%;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 2% 2%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 1em 1em;
  box-shadow: 10px 10px grey;
  background-color: #ffffff;
}

.container-table {
  margin-top: 3%;
  margin-bottom: 3%;
}

.form-myproducts h2 {
  padding-top: 0;
  padding-bottom: 3%;
}

.container-button {
  padding-left: 60%;
  text-align: center;
}

