.Container {
  margin: 0 0;
  padding: 0px 0px;
}

.titulo {
  margin-bottom: 25px;
  color: white;
  font-size: 72px;
  font-weight: bold;
}

.video video {
  margin-top: 20px;
  width: 85%;
  height: auto;
}
