.mr-sm-2 {
    color: white;
    margin-top: 0%;
    text-decoration: none;
  }
  
  .bg-light {
    color: white;
    margin-bottom: 0%;
    text-decoration: none;
  }
  
  .landing:hover {
    color: white;
    text-decoration: none;
  }
  